body {
  background-color: #eeedf3;
}
.bg-new {
  background: rgb(197, 171, 243);
  background: linear-gradient(
    318deg,
    rgba(197, 171, 243, 1) 0%,
    rgba(147, 110, 217, 1) 100%
  );
}
.bb-bottom {
  border-radius: 0 0 50px 50px;
}
.btn-primary {
  background-color: rgb(197, 171, 243);
  color: white;
  border: none;
  font-weight: normal;
  border-radius: 50px;
}
.btn-danger {
  background-color: rgb(180, 91, 91);
  color: white;
  border: none;
  font-weight: normal;
  border-radius: 50px;
}

.card {
  border: none;
  border-radius: 20px;
}

.card-body {
  color: rgb(95, 85, 104);
}
